<section class="w-full flex flex-col items-center mb-10">
  <h1
    class="text-3xl md:text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-primary to-accent drop-shadow-lg mb-8"
  >
    {{ title() }}
  </h1>
  <div class="flex gap-4 flex-wrap justify-center">
    @for (drink of visibleDrinks(); track drink.idDrink ?? $index) {
    <app-cocktail-card [drink]="drink"></app-cocktail-card>
    } @empty {
    <p class="text-2xl">No results</p>}
  </div>
  <div #sentinel class="h-8 w-full"></div>

  @if (showScrollTop()) {
  <button
    (click)="scrollToTop()"
    class="fixed bottom-6 right-6 z-50 px-3 py-1 rounded-full bg-primary text-white shadow-lg hover:bg-primary-focus transition"
    title="Back to Top"
  >
    ↑
  </button>
  }
</section>
