@import "tailwindcss";
@plugin "daisyui";

.cocktail-bg {
  position: relative;
  min-height: 100dvh;
  overflow: hidden;
}

.cocktail-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: 0;
}

.cocktail-bg > * {
  position: relative;
  z-index: 1;
}
